<form #form="ngForm" (submit)="onSubmit(form)">
<div class="modal-header">
    <h4 class="modal-title">Add Status</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
  </div>
  
  <div class="modal-body">
    <div class="row g-3 align-items-center">
      <!-- Status Type Name -->
      <div class="col-md-6">
        <label for="statusTypeName" class="form-label">Status Type Name <span class="text-danger">*</span></label>
        <select id="statusTypeName" class="form-select" aria-label="Select Status Type" [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}">
          <option value="" disabled selected></option>
          <option *ngFor="let status of DistrictStatusTypes()" value="{{status}}">
            {{ status }}
          </option>
        </select>
      </div>
  
      <!-- Status Name -->
      <div class="col-md-6">
        <label for="statusName" class="form-label">Status Name <span class="text-danger">*</span></label>
        <input type="text" id="statusName" class="form-control" placeholder="Enter Status Name" name="statusName"[(ngModel)]="status.statusName" required>
      </div>
    </div>
  
    <!-- Active Switch -->
    <div class="form-check form-switch mt-4">
      <input class="form-check-input" type="checkbox" id="active" name="active" [(ngModel)]="status.active">
      <label class="form-check-label" for="active" >Active</label>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="dismiss('Cancel click')">Cancel</button>
    <button type="save" class="btn btn-outline-secondary" >Save</button>
  </div>
</form>