<p-breadcrumb [model]="[
    {label: 'Home', routerLink: '/home'},
    {label: 'Course'}, 
    {label: course?.title, routerLink: '/course/course-open/' + course?.id},
    {label: chapter?.title, routerLink: '/course/course-open/' + course?.id + '/' + chapter?.id},
    {label: content?.title}]">
</p-breadcrumb>

<h2>{{ content?.title }}</h2>
<p>{{ content?.body }}</p>

<div class="navigation-container">
    <button pButton pRipple type="button" label="Back" icon="pi pi-arrow-left" iconPos="left" class="p-button-outlined p-button-primary" [routerLink]="['/course/course-open/' + course?.id + '/' + chapter?.id]"></button>
</div>



