/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

// Angular editor 
body {
    font-family: Arial, Helvetica, sans-serif;
}
  
.container {  
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;    
}
  
.quote {
    color: #8cc540;
    font-style: italic;
}
  
.redText {
  color: Red;
  font-size: 12px;
  font-family: Arial;
}
  
h1.titleText {
  color: #69a8cf;
  text-align: left;
  margin-top: 40px;
  font-weight: normal;
}