<p-toast key="DeleteSucess"></p-toast>
<div class="grid p-fluid" >

    <div class="col-12 ">
        <div class="card card-w-title">
            <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
        </div>
    </div>

    <div class="col-12 md:col-12">
        <div class="card col-12">
            <p-toolbar styleClass="mb-4">

                <h5>User Agenda</h5>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="ส่งออก Excel" icon="pi pi-print" class="p-button-help" (click)="exportExcel()" pTooltip="XLS" tooltipPosition="bottom"></button>
                </ng-template>

            </p-toolbar>

			<p-table #agendaSerch [value]="filteredAgendas" [loading]="loading" [(selection)]="selectedAgendas" selectionMode="checkbox" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll"
            [globalFilterFields]="['firstName','lastName','checkingDate','selectedLeaveHalfStatus'] " [sortOrder]="-1" sortField="checkingDate">
				<ng-template pTemplate="caption">

                    <!-- เป็น dialog ของ admin agenda -->
                    <p-dialog header="รายละเอียดคำขอ" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '650px', height: '400px'}" [breakpoints]="{'750px': '75vw'}" [closable]="false" >
                        <div class="flex flex-warp gap-2">
                            <input type="text" pInputText placeholder="ชื่อ นามสกุล" [value]="firstName+ ' ' + lastName"  [ngStyle]="{width: '360px'}" />
                            <div class="flex flex-warp gap-2">

                                <p-dropdown [ngModel]="selectedLeaveHalfStatus"
                                (ngModelChange)="onLeaveHalfStatusChange($event)" [options]="leaveRequestHalfStatus">
                                    <ng-template let-option pTemplate="item">
                                        {{option.label}}
                                    </ng-template>
                                </p-dropdown>
                                <p-dropdown [ngModel]="leaveStatuses" (ngModelChange)="onLeaveStatusChange($event)" [options]="leaveRequestStatus">
                                    <ng-template let-option pTemplate="item">
                                        {{option.label}}
                                    </ng-template>
                                </p-dropdown>

                            </div>
                        </div>
                        <div class="flex flex-warp mt-2">
                            <p-calendar size="small" [(ngModel)]="checkingDate"
                                [showButtonBar]="true" dateFormat="dd/mm/yy"
                                class="w-full">
                            </p-calendar>
                        </div>
                        <span class="flex gap-2 mt-2 justify-content-center">
                            <p-calendar #calendar [(ngModel)]="startTime" [timeOnly]="true"
                            [ngStyle]="{width: '150px'}" [touchUI]="false"></p-calendar>
                            <p-calendar #calendar [(ngModel)]="endTime" [timeOnly]="true"
                            [ngStyle]="{width: '150px'}" [touchUI]="false"></p-calendar>
                        </span>
                        <div class="flex gap-2 mt-2">
                            <textarea rows="5" cols="30" placeholder="รายละเอียด...." pInputTextarea [ngStyle]="{'width': '710px'}" [(ngModel)]="additionalDescription" [value]="additionalDescription" ></textarea>
                        </div>
                        <ng-template pTemplate="footer">

                                <button *ngIf="UserID === '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" pButton (click)="onApprove()" label="อนุมัติคำขอ" class="p-button-success p-button-sm"></button>
                                <button  *ngIf="UserID === '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" pButton (click)="onReject($event, selectedleaveRequestID)" label="ปฏิเสธคำขอ" class="p-button-danger p-button-sm" ></button>

                                <button  *ngIf="UserID !== '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" pButton (click)="onUpdate($event, selectedleaveRequestID)" label="ยืนยันการแก้ไข" class="p-button-info p-button-sm" ></button>
                                <button  *ngIf="UserID !== '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" pButton (click)="confirmDenyRequest($event, selectedleaveRequestID)" label="ลบคำขอ" class="p-button-danger p-button-sm" ></button>

                                <p-confirmPopup key="confirmDenyToast"></p-confirmPopup>
                                <button pButton (click)="display=false" label="ปิด" class="p-button-outlined p-button-sm"></button>
                        </ng-template>
                    </p-dialog>

					<div class="flex justify-content-between flex-column sm:flex-row ">
                        <div>
                            <span class="p-input-icon-left" style="width: 350px">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="onGlobalFilter(agendaSerch, $event)" placeholder="ค้นหาด้วย ชื่อ-นามสกุล, วัน, กรณีการลา" class="w-full"/>
                            </span>
                        </div>
                        <p-dropdown [ngModel]="selectedStatus" [options]="updateDropdownOptions" (onChange)="filterDropDown($event.value)" placeholder="เลือกทั้งหมด" >
                            <ng-template let-option pTemplate="item">
                                <span [style.background-color]="getStatusColor(option.label)" [style.color]="'white'"
                                [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>

					</div>

				</ng-template>
				<ng-template pTemplate="header">
					<tr>
                        <th *ngIf="UserID === '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" style="min-width: 8rem">
                            <div class="flex justify-content-center">
                                คำขอ
                            </div>
                        </th>
                        <th *ngIf="'56c99f7b-ada2-4c63-a949-2165c708d9ea' === pendingStatusId " style="min-width: 10rem">
                            <div class="flex justify-content-center">
                                คำขอ
                            </div>
                        </th>
                        <th *ngIf="'2972bc3a-2d3a-422c-bd03-a2dbd34a2a45' === pendingStatusId " style="min-width: 10rem">
                            <div class="flex justify-content-center">
                                คำขอ
                            </div>
                        </th>
                        <th *ngIf="UserID === '42cfb3be-fa01-499a-95af-fa0a879fb0ad'">
                            <div>
                                &nbsp;
                            </div>
                        </th>
                        <th style="min-width: 4rem">
                            <div class="flex justify-content-center">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </div>
                        </th>
						<th style="min-width: 8rem">
							<div class="flex justify-content-center align-items-center">
								ชื่อ - นามสกุล
                                <p-columnFilter type="text" field="firstName" display="menu"/>
							</div>
						</th>
                        <th style="min-width: 10rem" >
							<div class="flex justify-content-center align-items-center">
								วัน/เดือน/ปี
                                <p-columnFilter type="date" field="checkingDate" display="menu"></p-columnFilter>
							</div>
						</th>
						<th style="min-width: 8rem">
							<div class="flex justify-content-center ">
								เวลาเข้า
							</div>
						</th>
                        <th style="min-width: 8rem">
							<div class="flex justify-content-center ">
								เวลาออก
							</div>
						</th>
                        <th style="min-width: 8rem">
							<div class="flex justify-content-center ">
								กรณีลา

							</div>
						</th>
						<th style="min-width: 8rem">
							<div class="flex justify-content-center align-items-center">
								สถานะ
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-agenda>
					<tr>
                        <td *ngIf="UserID === '42cfb3be-fa01-499a-95af-fa0a879fb0ad'">
                            <div class="flex justify-content-center align-items-center">
                                <button (click)="onSelectRequest(agenda)" pButton label="คำขอ !" class="p-button-warn p-button-sm"></button>
                            </div>
                        </td>
                        <td *ngIf="UserID !== '42cfb3be-fa01-499a-95af-fa0a879fb0ad' && (agenda?.pendingStatusId === '56c99f7b-ada2-4c63-a949-2165c708d9ea' || agenda?.pendingStatusId === '2972bc3a-2d3a-422c-bd03-a2dbd34a2a45' || agenda?.pendingStatusId === 'be7eef8e-1ad6-4503-a88a-f9a7b1cba773'); else emptyCell">
                            <button *ngIf="agenda?.pendingStatusId === '56c99f7b-ada2-4c63-a949-2165c708d9ea'" pButton pRipple type="button" label="รออนุมัติคำขอ" class="p-button-warning p-button-sm"
                            (click)="onUserSelect(agenda)"></button>
                            <button *ngIf="agenda?.pendingStatusId === '2972bc3a-2d3a-422c-bd03-a2dbd34a2a45'" pButton pRipple type="button" label="อนุมัติแล้ว" class="p-button-success p-button-sm" ></button>
                            <button *ngIf="agenda?.pendingStatusId === 'be7eef8e-1ad6-4503-a88a-f9a7b1cba773'" pButton pRipple type="button" label="ปฏิเสธคำขอ" class="p-button-danger p-button-sm" ></button>
                        </td>
                        <ng-template #emptyCell>
                            <td >&nbsp;</td>
                        </ng-template>
                        <td>
                            <div class="flex justify-content-center align-items-center">
                                <p-tableCheckbox [value]="agenda"></p-tableCheckbox>
                            </div>
                        </td>
						<td>
                            <div class="flex text-left">
                                {{agenda?.firstName || agenda?.fristName}}
                                {{agenda?.lastName || agenda?.lastName}}
							    <!-- {{agenda?.firstName + ' ' + agenda?.lastName}} -->
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
                            <span>
                                {{ agenda?.checkingDate && agenda.checkingDate !== 'Invalid Date' ? (agenda.checkingDate | date: 'dd/MM/yyyy') : '-' }}
                              </span>
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
							    <span>{{agenda?.checkIn || agenda?.startTime}}</span>
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
							    {{agenda?.checkOut || agenda?.endTime}}
                            </div>
						</td>
                        <td>
                            <div class="flex justify-content-center align-items-center">
                                {{agenda?.selectedLeaveHalfStatus}}
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
							    <span [class]="'customer-badge status-' + agenda?.checkingStatus||agenda?.leaveStatus" [style.background-color]="getStatusColor(agenda?.checkingStatus || agenda?.leaveStatus)"
                                [style.color]="'white'">{{agenda?.checkingStatus || agenda?.leaveStatus}}</span>
                            </div>
						</td>
					</tr>
				</ng-template>
    		</p-table>

        </div>
    </div>
</div>
