<div class="grid p-fluid" >

    <div class="col-12 ">
        <div class="card card-w-title">
            <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
        </div>
    </div>

    <div class="col-12 md:col-12">
        <div class="card col-12">
            <p-toolbar styleClass="mb-4">

                <h5>User Agenda</h5>
                <ng-template pTemplate="right">
                    <button (click)="display=true" pButton icon="pi pi-external-link" label="Example"
                        style="margin-right: 10px"></button>
                    <button pButton pRipple label="Export" icon="pi pi-print" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>

            </p-toolbar>

			<p-table #ca1 [value]="customeragenda" [rows]="5" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll"
            [globalFilterFields]="['country.name','name','days','status']">
				<ng-template pTemplate="caption">

					<div class="flex justify-content-between flex-column sm:flex-row ">
                        <div>
                            <button pButton label="Clear" class="p-button-outlined mb-2"
                         icon="pi pi-filter-slash" (click)="clear(ca1)"></button>
                        </div>
                        <div>
                            <span class="p-input-icon-left mb-2">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="onGlobalFilter(ca1, $event)" placeholder="Search Keyword" class="w-full"/>
                            </span>
                        </div>

					</div>

				</ng-template>
				<ng-template pTemplate="header" >
					<tr>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Name
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Days
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Check In
							</div>
						</th>
                        <th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Check Out
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Date
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Status
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-agenda>
					<tr>
						<td>
							{{agenda.name}}
						</td>
						<td>
							<span class="image-text ml-2">{{agenda.days}}</span>
						</td>
						<td>
							<span class="image-text ml-2">{{agenda.checkin}}</span>
						</td>
						<td>
							<span class="image-text ml-2">{{agenda.checkout}}</span>
						</td>
						<td>
							{{agenda.date | date: 'dd/MM/yyyy'}}
						</td>
						<td>
							<span class="customer-badge">{{agenda.status}}</span>
						</td>
					</tr>
				</ng-template>
    		</p-table>

        </div>
    </div>
</div>
