<div class="grid p-fluid" >

    <div class="col-12 ">
        <div class="card card-w-title">
            <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
        </div>
    </div>

    <div class="col-12 md:col-12">
        <div class="card col-12">
            <p-toolbar styleClass="mb-4">

                <h5>User Agenda</h5>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="ส่งออก Excel" icon="pi pi-print" class="p-button-help" (click)="exportExcel()" pTooltip="XLS" tooltipPosition="bottom"></button>

                </ng-template>

            </p-toolbar>

			<p-table #agendaSerch [value]="filteredAgendas" [(selection)]="selectedAgendas" selectionMode="checkbox" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll"
            [globalFilterFields]="['firstName','lastName','checkingDate','checkingStatus'] " [sortOrder]="-1" sortField="checkingDate">
				<ng-template pTemplate="caption">

					<div class="flex justify-content-between flex-column sm:flex-row ">
                        <div>
                            <button pButton label="รีเซ็ต" class="p-button-outlined mb-2"
                         icon="pi pi-filter-slash" (click)="clear(agendaSerch)"></button>
                        </div>
                        <div>
                            <span class="p-input-icon-left" style="width: 350px">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="onGlobalFilter(agendaSerch, $event)" placeholder="ค้นหาด้วย ชื่อ-นามสกุล, วัน/เดือน/ปี, สถานะ" class="w-full"/>
                            </span>
                        </div>

					</div>

				</ng-template>
				<ng-template pTemplate="header">
					<tr>
                        <th *ngIf="isAdmin" style="min-width: 8rem">
                            <div class="flex justify-content-center">
                                คำขอ
                            </div>
                        </th>
                        <th style="min-width: 4rem">
                            <div class="flex justify-content-center">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </div>
                        </th>
						<th style="min-width: 8rem">
							<div class="flex justify-content-center align-items-center">
								ชื่อ - นามสกุล
                                <p-columnFilter type="text" field="firstName" display="menu" />
							</div>
						</th>
                        <th style="min-width: 10rem" >
							<div class="flex justify-content-center align-items-center">
								วัน/เดือน/ปี
                                <p-columnFilter type="date" field="checkingDate" display="menu"></p-columnFilter>
							</div>
						</th>
						<th style="min-width: 8rem" pSortableColumn="checkIn">
							<div class="flex justify-content-center ">
								เวลาเข้า
                                <p-sortIcon field="checkIn"></p-sortIcon>
							</div>
						</th>
                        <th style="min-width: 8rem" pSortableColumn="checkOut">
							<div class="flex justify-content-center ">
								เวลาออก
                                <p-sortIcon field="checkOut"></p-sortIcon>
							</div>
						</th>
                        <th style="min-width: 8rem" pSortableColumn="leavehalf">
							<div class="flex justify-content-center ">
								กรณีลา
                                <p-sortIcon field="leavehalf"></p-sortIcon>
							</div>
						</th>
						<th style="min-width: 8rem">
							<div class="flex justify-content-center align-items-center">
								สถานะ
                                <p-columnFilter field="checkingStatus" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">

                                        <p-dropdown [ngModel]="selectedStatus" [options]="updateDropdownOptions" (onChange)="filterDropDown($event.value)" placeholder="เลือกสถานะ">
                                            <ng-template let-option pTemplate="item">
                                                <span [style.background-color]="getStatusColor(option.label)" [style.color]="'white'"
                                                [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>

                                    </ng-template>
                                </p-columnFilter>
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-agenda>
					<tr>
                        <td *ngIf="isAdmin">
                            <div class="flex justify-content-center align-items-center">

                            </div>
                        </td>
                        <td>
                            <div class="flex justify-content-center align-items-center">
                                <p-tableCheckbox [value]="agenda"></p-tableCheckbox>
                            </div>
                        </td>
						<td>
                            <div class="flex text-left">
                                {{agenda?.firstName || agenda?.fristName}}
                                {{agenda?.lastName || agenda?.lastName}}
							    <!-- {{agenda?.firstName + ' ' + agenda?.lastName}} -->
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
                            <span>
                                {{ agenda?.checkingDate && agenda.checkingDate !== 'Invalid Date' ? (agenda.checkingDate | date: 'dd/MM/yyyy') : '-' }}
                              </span>
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
							    <span>{{agenda?.checkIn || agenda?.startTime}}</span>
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
							    {{agenda?.checkOut || agenda?.endTime}}
                            </div>
						</td>
                        <td>
                            <div class="flex justify-content-center align-items-center">
                                {{agenda?.selectedLeaveHalfStatus}}
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
							    <span [class]="'customer-badge status-' + agenda?.checkingStatus||agenda?.leaveStatus" [style.background-color]="getStatusColor(agenda?.checkingStatus || agenda?.leaveStatus)"
                                [style.color]="'white'">{{agenda?.checkingStatus || agenda?.leaveStatus}}</span>
                            </div>
						</td>
					</tr>
				</ng-template>
    		</p-table>

        </div>
    </div>
</div>
