<p-toast></p-toast>
<p-toast key="DeleteSucess"></p-toast>
<div class="grid p-fluid" >

    <div class="col-12 ">
        <div class="card card-w-title">
            <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
        </div>
    </div>

    <div class="col-12 md:col-12">
        <div class="card col-12">
            <p-toolbar styleClass="mb-4">

                <h5>ประวัติคำขอการลา</h5>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="ส่งออก Excel" icon="pi pi-print" class="p-button-help" (click)="exportExcel()" pTooltip="XLS" tooltipPosition="bottom"></button>
                </ng-template>

            </p-toolbar>

			<p-table #agendaSerch [value]="filteredAgendas" [loading]="loading" [(selection)]="selectedAgendas" selectionMode="checkbox" [rows]="7" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" responsiveLayout="scroll"
            [globalFilterFields]="['firstName','lastName','checkingDate','selectedLeaveHalfStatus'] " [sortOrder]="-1" sortField="checkingDate">
				<ng-template pTemplate="caption">

                    <!-- เป็น dialog ของ admin agenda -->
                    <p-dialog header="รายละเอียดการลา" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '800px', height: '500px'}" [closable]="false" >
                        <hr>
                        <div class="flex flex-warp gap-2 mt-5">
                            <span class="p-float-label"  [ngStyle]="{width: '490px'}">
                                <input type="text" pInputText placeholder="ชื่อ นามสกุล" [value]="firstName+ ' ' + lastName"  disabled="true"/>
                                <label for="float-input">ชื่อ-นามสกุล</label>
                            </span>

                            <span class="p-float-label" [ngStyle]="{width: '260px'}">
                                <p-dropdown [ngModel]="leaveStatuses" (ngModelChange)="onLeaveStatusChange($event)" [options]="leaveRequestStatus">
                                    <ng-template let-option pTemplate="item">
                                        {{option.label}}
                                    </ng-template>
                                </p-dropdown>
                                <label for="float-input">ประเภทการลา</label>
                            </span>
                        </div>

                        <div class="flex flex-warp mt-5 gap-2">

                            <span class="p-float-label" [ngStyle]="{width: '225px'}">
                                <p-calendar size="small" [(ngModel)]="checkingDate" [showButtonBar]="true" dateFormat="dd/mm/yy" >
                                </p-calendar>
                                <label for="float-input">ปฏิทินลา | วัน / เดือน / ปี</label>
                            </span>
                            <span class="p-float-label" [ngStyle]="{width: '250px'}">
                                <p-dropdown [ngModel]="selectedLeaveHalfStatus"
                                (ngModelChange)="onLeaveHalfStatusChange($event, 'selectedLeaveHalfStatus')" [options]="leaveRequestHalfStatus">
                                <ng-template let-option pTemplate="item">
                                    {{option.label}}
                                </ng-template>
                                </p-dropdown>
                                <label for="float-input">รูปแบบการลา</label>
                            </span>
                            <span class="p-float-label" [ngStyle]="{width: '130px'}">
                                <p-calendar #calendar [(ngModel)]="startTime" [timeOnly]="true"
                                (ngModelChange)="onValueChange('startTime')" [ngStyle]="{width: '150px'}" [touchUI]="false" [disabled]="timeDisable"></p-calendar>
                                <label for="float-input">เวลาเริ่มของวัน</label>
                            </span>
                            <span class="p-float-label" [ngStyle]="{width: '130px'}">
                                <p-calendar #calendar [(ngModel)]="endTime" [timeOnly]="true"
                                (ngModelChange)="onValueChange('endTime')" [ngStyle]="{width: '150px'}" [touchUI]="false" [disabled]="timeDisable"></p-calendar>
                                <label for="float-input">เวลาสิ้นสุดของวัน</label>
                            </span>
                        </div>
                        <div class="flex gap-2 mt-5">
                            <span class="p-float-label" >
                                <textarea rows="5" cols="30" pInputTextarea [ngStyle]="{width: '375px', height: '150px'}" [(ngModel)]="additionalDescription" [value]="additionalDescription" ></textarea>
                                <label for="float-input">คำอธิบายเพิ่มเติม</label>
                            </span>
                            <span>
                                <textarea *ngIf="UserID !== '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" rows="5" [ngStyle]="{width: '375px', height: '150px'}" cols="30" pInputTextarea [(ngModel)]="adminCallBack"
                                [value]="adminCallBack" [disabled]="AdminChecking()" placeholder="ผลการพิจารณาคำขอลา"></textarea>
                            </span>
                            <span>
                                <textarea *ngIf="UserID === '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" rows="5" [ngStyle]="{width: '375px', height: '150px'}" cols="30" pInputTextarea [(ngModel)]="adminRejectedMess" placeholder="ผลการพิจารณาคำขอลา"
                                [value]="adminRejectedMess" [disabled]="AdminChecking()"></textarea>
                            </span>
                        </div>
                        <ng-template pTemplate="footer">

                                <button *ngIf="UserID === '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" pButton (click)="onApprove()" label="อนุมัติคำขอ" class="p-button-success p-button-sm"></button>

                                <button  *ngIf="UserID === '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" pButton (click)="onReject($event, selectedleaveRequestID)" label="ปฏิเสธคำขอ" class="p-button-danger p-button-sm" ></button>

                                <button  *ngIf="UserID !== '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" pButton (click)="onUpdate($event, selectedleaveRequestID)" label="ยืนยันการแก้ไข" class="p-button-info p-button-sm" ></button>

                                <button  *ngIf="UserID !== '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" pButton (click)="confirmDenyRequest($event, selectedleaveRequestID)" label="ลบคำขอ" class="p-button-danger p-button-sm" ></button>

                                <p-confirmPopup key="confirmDenyToast"></p-confirmPopup>
                                <button pButton (click)="display=false" label="ปิด" class="p-button-outlined p-button-sm"></button>
                        </ng-template>
                    </p-dialog>

					<div class="flex justify-content-between flex-column sm:flex-row ">
                        <div>
                            <span class="p-input-icon-left" style="width: 310px">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="onGlobalFilter(agendaSerch, $event)" placeholder="ค้นหาด้วย ชื่อ-นามสกุล, วัน, ประเภทการลา" class="w-full"/>
                            </span>
                        </div>
                        <div style="width: 180px">
                            <p-dropdown [(ngModel)]="selectedMonth" [options]="months" placeholder="แสดงเดือนทั้งหมด" (onChange)="filterMonthYear()"></p-dropdown>
                        </div>
                        <div style="width: 160px">
                            <p-dropdown [(ngModel)]="selectedYear" [options]="years " placeholder="แสดงปีทั้งหมด" (onChange)="filterMonthYear()" ></p-dropdown>
                        </div>
                        <p-dropdown [ngModel]="selectedStatus" [options]="updateDropdownOptions" (onChange)="filterDropDown($event.value)" placeholder="เลือกทั้งหมด" >
                            <ng-template let-option pTemplate="item">
                                <span [style.background-color]="getStatusColor(option.label)" [style.color]="'white'"
                                [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>

					</div>

				</ng-template>
				<ng-template pTemplate="header">
					<tr>
                        <th style="min-width: 3rem">
                            <div class="flex justify-content-center">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </div>
                        </th>
						<th style="min-width: 8rem">
							<div class="flex justify-content-center align-items-center">
								ชื่อ - นามสกุล
							</div>
						</th>
                        <th style="min-width: 9rem" pSortableColumn="checkingDate">
							<div class="flex justify-content-center align-items-center">
								วัน/เดือน/ปี
                                <p-sortIcon field="checkingDate"/>
							</div>
						</th>
						<th style="min-width: 8rem">
							<div class="flex justify-content-center ">
								ลาช่วงเช้า
							</div>
						</th>
                        <th style="min-width: 8rem">
							<div class="flex justify-content-center ">
								ลาช่วงบ่าย
							</div>
						</th>
						<th style="min-width: 9rem">
							<div class="flex justify-content-center align-items-center">
								ประเภทการลา
							</div>
						</th>
                        <th *ngIf="UserID === '42cfb3be-fa01-499a-95af-fa0a879fb0ad'" style="min-width: 10rem">
                            <div class="flex justify-content-center">
                                รูปแบบคำขอ
                            </div>
                        </th>
                        <th *ngIf="'56c99f7b-ada2-4c63-a949-2165c708d9ea' === pendingStatusId " style="min-width: 10rem">
                            <div class="flex justify-content-center">
                                รูปแบบคำขอ
                            </div>
                        </th>
                        <th *ngIf="'2972bc3a-2d3a-422c-bd03-a2dbd34a2a45' === pendingStatusId " style="min-width: 10rem">
                            <div class="flex justify-content-center">
                                รูปแบบคำขอ
                            </div>
                        </th>
                        <th *ngIf="'be7eef8e-1ad6-4503-a88a-f9a7b1cba773' === pendingStatusId " style="min-width: 10rem">
                            <div class="flex justify-content-center">
                                รูปแบบคำขอ
                            </div>
                        </th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-agenda>
					<tr>
                        <td>
                            <div class="flex justify-content-center align-items-center">
                                <p-tableCheckbox [value]="agenda"></p-tableCheckbox>
                            </div>
                        </td>
						<td>
                            <div class="flex text-left">
                                {{agenda?.firstName + ' ' + agenda.lastName}}
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
                            <span>
                                {{ agenda?.checkingDate? (agenda.checkingDate | date: 'dd/MM/yyyy') : '-' }}
                              </span>
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
							    <span>
                                    {{ createDateFromTime(agenda.startTime) | date:'HH:mm'}} น.
                                  </span>
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
							    {{ createDateFromTime(agenda.endTime) | date:'HH:mm'}} น.
                            </div>
						</td>
						<td>
                            <div class="flex justify-content-center align-items-center">
							    <span [class]="'customer-badge status-' + agenda?.leaveStatus"
                                [style.background-color]="getStatusColor(agenda?.leaveStatus)"
                                [style.color]="'white'">{{agenda?.leaveStatus}}</span>
                            </div>
						</td>
                        <td *ngIf="UserID === '42cfb3be-fa01-499a-95af-fa0a879fb0ad'">
                            <div class="flex justify-content-center align-items-center">
                                <button (click)="onSelectRequest(agenda)" pButton label="รออนุมัติคำขอ" class="p-button-warning p-button-sm"></button>
                            </div>
                        </td>
                        <td *ngIf="UserID !== '42cfb3be-fa01-499a-95af-fa0a879fb0ad' && (agenda?.pendingStatusId === '56c99f7b-ada2-4c63-a949-2165c708d9ea' || agenda?.pendingStatusId === '2972bc3a-2d3a-422c-bd03-a2dbd34a2a45' || agenda?.pendingStatusId === 'be7eef8e-1ad6-4503-a88a-f9a7b1cba773'); else emptyCell">
                            <button *ngIf="agenda?.pendingStatusId === '56c99f7b-ada2-4c63-a949-2165c708d9ea'" pButton pRipple type="button" label="รออนุมัติคำขอ" class="p-button-warning p-button-sm"
                            (click)="onUserSelect(agenda)"></button>

                            <button *ngIf="agenda?.pendingStatusId === '2972bc3a-2d3a-422c-bd03-a2dbd34a2a45'" pButton pRipple type="button" label="อนุมัติแล้ว" class="p-button-success p-button-sm" ></button>

                            <button *ngIf="agenda?.pendingStatusId === 'be7eef8e-1ad6-4503-a88a-f9a7b1cba773'" pButton pRipple type="button" (click)="onUserSelect(agenda)" label="ปฏิเสธคำขอ" class="p-button-danger p-button-sm" ></button>
                        </td>

					</tr>
				</ng-template>
    		</p-table>

        </div>
    </div>
</div>
