.navigation-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 2rem; 
  }
  
  .navigation-container button {
    width: auto; 
    padding: 1rem 2rem; 
    font-size: 1rem; 
    text-transform: none; 
  }
  