<p-breadcrumb [model]="[{label: 'Home', routerLink: '/'}, {label: 'Course'}, {label: course?.title}]"></p-breadcrumb>
<h1>{{ course?.title }}</h1>
<h3>{{ course?.subtitle }}</h3>
<p>{{ course?.description }}</p>

<h2>Chapters</h2>
<table class="p-datatable">
  <thead>
    <tr>
      <th>ตอนที่</th>
      <th>เนื้อหา</th>
      <th>เอกสาร</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let chapter of course?.chapters; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ chapter.title }}</td>
      <td>
        <!-- <button pButton label="อ่าน" [routerLink]="[chapter.id]"></button> -->
        <button pButton pRipple type="button" label="อ่าน" class="p-button-text" [routerLink]="[chapter.id]"></button>
      </td>
    </tr>
  </tbody>
</table>


