<div class="layout-topbar">
    <!-- <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>SAKAI</span>
    </a> -->

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu align-items-center"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button> -->
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button> -->
        <!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->

<!-- Notification Button -->
        <!-- <i class="pi pi-bell mr-2 p-text-secondary" style="font-size: 1.5rem"
        (click)="showPositionDialog('top-right')" label="TopRight"></i> -->

        <i class="pi pi-bell mr-2 p-text-secondary" *ngIf="notificationcourse.length === 0" style="font-size: 1.5rem; cursor: pointer;" (click)="showPositionDialog('top-right')"></i>

        <i class="pi pi-bell mr-2 p-text-secondary" pBadge *ngIf="notificationcourse.length > 0"[value]="notificationcourse.length" style="font-size: 1.5rem; cursor: pointer;" (click)="showPositionDialog('top-right')"></i>

        <button class="p-link layout-topbar-button" (click)="toggleMenu($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <p-menu #profileMenu [popup]="true" [model]="profileItems"></p-menu>
    </div>
</div>

<!-- Profile Edit -->
<p-dialog header="แก้ไขข้อมูลโปรไฟล์" [(visible)]="edit" [modal]="true" showEffect="fade" [style]="{width: '60vw'}" [breakpoints]="{'900px': '80vw'}">
    <div class="grid p-fluid">
        <div class="col-12 md:col-6">
            <div class="field mt-3">
                <label for="firstName" class="block text-900 text-xl font-medium mb-2">
                    First Name
                </label>
                <input
                type="text"
                id="firstName"
                placeholder="First Name"
                pInputText
                [(ngModel)]="user.firstname"
                class="w-full"
            >
            </div>

            <div class="field mt-3">
                <label for="phone" class="block text-900 text-xl font-medium mb-2">
                    Phone
                </label>
                <input
                    type="text"
                    id="phone"
                    placeholder="Phone"
                    pInputText
                    [(ngModel)]="user.phone"
                    required
                    class="w-full"
                >
            </div>
        </div>

        <div class="col-12 md:col-6">
            <div class="field mt-3">
                <label for="lastName" class="block text-900 text-xl font-medium mb-2">
                    Last Name
                </label>
                <input
                    type="text"
                    id="lastName"
                    placeholder="Last Name"
                    pInputText
                    [(ngModel)]="user.lastname"
                    required
                    class="w-full"
                >
            </div>

            <div class="field mt-3">
                <label for="position" class="block text-900 text-xl font-medium mb-2">Position</label>
                <input
                pInputText
                id="position"
                type="position"
                [disabled]="true"
                [(ngModel)]="user.positionName"
                class="w-full"
            />
            </div>
        </div>
    </div>
    <div class="grid p-fluid">
        <div class="col-12">
            <div class="field mt-3">
                <label for="email1" class="block text-900 text-xl font-medium mb-2">
                    Email
                </label>
                <input
                    id="email1"
                    type="email"
                    placeholder="Email address"
                    pInputText
                    [(ngModel)]="user.email"
                    [disabled]="true"
                    class="w-full"
                >
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-end gap-2">
            <button pButton label="Edit" class="p-button-primary" (click)="saveUserData()"></button>
            <button pButton  (click)="edit=false" label="Cancel" class="p-button-outlined"></button>
        </div>
    </ng-template>
</p-dialog>


<!-- Notifications -->
<p-dialog header="Notifications" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <ul class="p-0 mx-0 mt-0 mb-4 list-none">
        <!-- leaveRequest -->
        <ng-container *ngFor="let message of notificationleave">
            <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                    <i class="pi pi-user text-xl text-blue-500"></i>
                </div>
                <span class="text-900 line-height-3">
                    {{ message }}
                </span>
            </li>
        </ng-container>

        <!-- CourseNotification -->
        <ng-container *ngFor="let notification of notificationcourse">
            <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                    <i class="pi pi-user text-xl text-blue-500"></i>
                </div>
                <span class="text-900 line-height-3">
                    {{ notification }}
                </span>
            </li>
        </ng-container>

    </ul>

</p-dialog>

