<div class="grid p-fluid">

    <div class="col-12">
        <div class="card card-w-title">
            <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
        </div>
    </div>

    <div class="col-12 lg:col-12 xl:col-12">
        <div class="card">

            <h5>Leave Request</h5>

            <div class="grid formgrid col justify-content-center gap-2">

                <p-dropdown [options]="leaveHalfStatus" [(ngModel)]="selectedHalf"
                placeholder="Select Leave Half" [ngStyle]="{'width': '200px'}">
                    <ng-template let-option pTemplate="item">
                        <span [ngStyle]="{'background-color': getStatusColor(option.value)}"
                        [class]="'customer-badge status-' + option.value" [style.color]="'white'">
                        {{ option.label }}</span>
                    </ng-template>
                </p-dropdown>

                <p-calendar  #calendar [showButtonBar]="true" [showIcon]="true" inputId="icon" [(ngModel)]="selectedDate" dateFormat="dd/mm/yy" class="p-button-warning"
                placeholder="Selected Date" selectionMode="range"></p-calendar>

                <p-dropdown [options]="leaveRequestStatus" [(ngModel)]="selectedItem"
                placeholder="Select Leave Status" [ngStyle]="{'width': '200px'}">
                    <ng-template let-option pTemplate="item">
                        <span [ngStyle]="{'background-color': getStatusColor(option.value)}"
                        [class]="'customer-badge status-' + option.value" [style.color]="'white'">
                        {{ option.label }}</span>
                    </ng-template>
                </p-dropdown>

            </div>

            <h5>Additional proof</h5>
            <p-fileUpload name="demo[]" (onUpload)="onUpload($event)"
                          [multiple]="true" accept="image/*" [maxFileSize]="1000000">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>

            <h5>Leave Request Detail</h5>
			<textarea rows="5" cols="30" placeholder="Your Message....." pInputTextarea></textarea>

            <div class="grid formgrid mt-3 justify-content-center">
                <div class="col-12 md:col-4">
                    <p-toast></p-toast>
                    <button (click)="confirm2($event)" pButton icon="pi pi-check" label="Confirm"
                    ></button>
                    <p-confirmPopup key="confirm2"></p-confirmPopup>
                </div>
            </div>

        </div>
    </div>

</div>
