<div class="grid p-fluid">

    <div class="col-12">
        <div class="card card-w-title">
            <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
        </div>
    </div>

    <div class="col-12 lg:col-12 xl:col-12">
        <div class="card">
            <h5>Leave Request</h5>
            <!-- <div class="flex col-12 md:col-12"> -->
                <div class="col-12 md:col-12 ">
                    <div class="flex flex-wrap gap-3 mt-5 justify-content-center align-">

                        <p-calendar [ngStyle]="{'width': '200px'}" [(ngModel)]="Dates" selectionMode="multiple" [readonlyInput]="true" placeholder="ปฎิทินลา" size="small" [showIcon]="true"
                        (onSelect)="onCalendarSelect($event)" (onClear)="onClearCalendarDate()"
                        (ngModelChange)="onModelChange($event)" [disabled]="HalfStatusOn"
                        (onBlur)="onCalendarBlur()" [showButtonBar]="true" [ngClass]="{'ng-invalid ng-dirty': InvselectedDates}"/>

                        <p-dropdown [options]="leaveRequestHalfStatus" [(ngModel)]="selectedLeaveHalfStatus"
                        placeholder="กรณีการลา" [ngStyle]="{'width': '200px'}" optionLabel="halfStatus" (onChange)="onLeaveStatusChange()" [ngClass]="{'ng-invalid ng-dirty': InvselectedLeaveHalfStatus}">
                            <ng-template let-option pTemplate="item">
                                    <span [ngStyle]="{'background-color': getStatusColor(option.halfStatus)}"
                                    [class]="'customer-badge status-' + option.halfStatus" [style.color]="'white'">
                                    {{ option.halfStatus }}</span>
                            </ng-template>
                        </p-dropdown>

                        <p-dropdown [options]="leaveRequestStatus" [(ngModel)]="selectedLeaveStatus"
                            placeholder="เลือกประเภทการลา" [ngStyle]="{'width': '180px'}" optionLabel="leaveStatusData" [ngClass]="{'ng-invalid ng-dirty': InvselectedLeaveStatus}">
                            <ng-template let-option pTemplate="item" >
                                    <span [ngStyle]="{'background-color': getStatusColor(option.leaveStatusData)}"
                                    [class]="'customer-badge status-' + option.leaveStatusData" [style.color]="'white'">
                                    {{ option.leaveStatusData }}</span>
                            </ng-template>
                        </p-dropdown>

                        <div class="flex flex-wrap mt-3 gap-3">

                            <span class="p-float-label" [ngStyle]="{'width': '180px'}">
                                <p-calendar *ngIf="isCustomLeave || true" [(ngModel)]="startTime" [timeOnly]="true" [ngClass]="{'ng-invalid ng-dirty': InvstartTime}"></p-calendar>
                                <label for="float-input">เวลาเริ่มของวัน</label>
                            </span>
                            <span class="p-float-label" [ngStyle]="{'width': '180px'}">
                                <p-calendar *ngIf="isCustomLeave || true" [(ngModel)]="endTime" [timeOnly]="true" [ngClass]="{'ng-invalid ng-dirty': InvendTime}"></p-calendar>
                                <label for="float-input">เวลาสิ้นสุดของวัน</label>
                            </span>
                        </div>

                    </div>
                    <div class="flex flex-wrap mt-3 md:col-12 justify-content-center">

                        <textarea rows="5" cols="30" placeholder="คำอธิบายเพิ่มเติม...." pInputTextarea [ngStyle]="{'width': '710px'}" [(ngModel)]="additionalDescription"></textarea>

                    </div>
                    <div class="md:col-4">

                        <p-toast></p-toast>
                        <button  pButton icon="pi pi-check" label="Confirm"
                        (click)="confirm2($event)"></button>
                        <p-confirmPopup key="confirm2"></p-confirmPopup>

                    </div>

                </div>
            <!-- </div> -->
        </div>
    </div>

</div>
