<div class="grid p-fluid">

    <div class="col-12">
        <div class="card card-w-title">
            <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
        </div>
    </div>

    <div class="col-12 md:col-12">
        <div class="card">

            <h5>Check Information</h5>
            <div class="grid formgrid justify-content-center">
                <div class="formgroup-inline justify-content-center">
                    <div class="field col-12 md:col">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-stopwatch"></i>
                            </p-inputGroupAddon>
                            <input pInputText type="text" placeholder="{{hours}}:{{minutes}}:{{seconds}}" label="Check-In / Check-Out" [value]="checkInTime" [disabled]="true" [disabled]="isCheckInTimeFrozen"/>
                        </p-inputGroup>
                    </div>
                </div>
            </div>

            <div class="flex justify-content-center align-items-center">

                <p-dropdown [options]="workStatus" [(ngModel)]="selectedItem" placeholder="Select Status" [ngStyle]="{'width': '200px'}" [disabled]="isCheckInTimeFrozen">
                    <ng-template let-option pTemplate="item">
                        <span [ngStyle]="{'background-color': getStatusColor(option.value)}"
                        [class]="'customer-badge status-' + option.value" [style.color]="'white'">
                        {{ option.label }}</span>
                    </ng-template>
                </p-dropdown>

            </div>


            <div class="grid formgrid mt-3 justify-content-center">
                <div class="col-12 md:col-3 align-items-center">
                    <div class="field-radiobutton justify-content-center gap-1">
                        <p-radioButton name="city" value="CheckIn" [(ngModel)]="valRadio" id="city1" [disabled]="isCheckInTimeFrozen">
                        </p-radioButton>
                        <p-tag severity="success" value="Check In"></p-tag>

                    </div>
                </div>
                <div class="col-12 md:col-3 ">
                    <div class="field-radiobutton justify-content-center gap-1">
                        <p-radioButton name="city" value="CheckOut" [(ngModel)]="valRadio" id="city2"[disabled]="isCheckOutTimeFrozen" >
                        </p-radioButton>
                        <p-tag severity="info" value="Check Out"></p-tag>
                    </div>
                </div>
            </div>

            <div class="grid formgrid mt-3 justify-content-center">
                <div class="col-12 md:col-3">
                    <p-toast></p-toast>
                    <button (click)="confirm2($event)" pButton icon="pi pi-check" label="Confirm"></button>
                    <p-confirmPopup key="confirm2"></p-confirmPopup>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <h5>Mapping</h5>
                    <div id="map" style="height: 500px;"></div>
                </div>
            </div>

        </div>
    </div>
</div>
